.pdf {
    &-viewer {
        &-container {
            padding: 50px 5px;
            width: 100%;
            height: 100%;
            background-color: rgb(53, 53, 53);
            position: relative;
            overflow: hidden;
        }
        &-fullscreen {
            position: fixed;
            inset: 0;
        }
        &-container-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
        }
        &-arrow-left {
            position: absolute;
            left: 10px;
            top: 50%;
        }
        &-arrow-right {
            position: absolute;
            right: 10px;
            top: 50%;
        }
        &-control-panel-container {
            display: flex;
            position: absolute;
            align-items: center;
            justify-content: center;
            left: 0;
            right: 0;
            bottom: 0;
            height: 50px;
            background-color: rgb(53, 53, 53);
        }
        &-share-popup {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            position: absolute;
            inset: 0;
            &-content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
                padding: 10px;
                background-color: rgb(60, 60, 60);
                width: 360px;
                height: 160px;
                margin: 50px 5px;
            }
            &-icons-container {
                display: inline-flex;
                margin-bottom: 20px;
            }
        }
        &-pdf {
            overflow: hidden;
            #viewerContainer {
                margin-left: 1%;
                margin-bottom: -1%;
                overflow: hidden;
            }
        }
    }
    &-ui {
        &-button {
            border: 0;
            padding: 0;
            outline: none;
            cursor: pointer;
            color: white;
        }
        &-arrow-button {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.3);
            opacity: 0.5;
            transition: opacity 0.3s;
            &:hover {
                opacity: 1;
            }
        }
        &-icon-button {
            width: 40px;
            height: 40px;
            background-color: transparent;
            opacity: 1;
            transition: opacity 0.3s;
            &:hover {
                opacity: 0.5;
            }
        }
        &-share-button {
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            color: white;
            margin: 0 10px;
            cursor: pointer;
            &-facebook {
                background-color: rgb(59, 89, 152);
            }
            &-linkedin {
                background-color: rgb(40, 103, 178);
            }
            &-pinterest {
                background-color: rgb(189, 8, 28);
            }
            &-twitter {
                background-color: rgb(29, 161, 242);
            }
            &-email {
                background-color: rgb(183, 183, 183);
            }
        }
        &-share-link {
            display: flex;
            align-items: stretch;
            height: 40px;
            color: white;
            align-self: stretch;
            input {
                color: white;
                border: none;
                outline: none;
                flex-grow: 1;
                padding: 0 10px;
                background-color: rgb(97, 93, 99);
                margin-right: 1px;
            }
            &-copy-button {
                display: flex;
                align-items: center;
                padding: 0 10px;
                background-color: rgb(97, 93, 99);
                cursor: pointer;
                user-select: none;
            }
        }
        &-page-input {
            color: white;
            height: 40px;
            display: flex;
            align-items: center;
            margin-right: 20px;
            input {
                text-align: center;
                margin-right: 10px;
                border: 1px solid rgba(white, 0.3);
                border-radius: 5px;
                outline: none;
                color: white;
                font-size: 1rem;
                background-color: transparent;
                width: 38px;
                height: 32px;
                -moz-appearance: textfield;
                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
            }
        }
    }
    &-transition {
        &-fade {
            &-enter-active,
            &-leave-active {
                transition: opacity 0.3s;
            }
            &-enter,
            &-leave-to {
                opacity: 0 !important;
            }
        }
    }
}
